@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: bisque;
}

.sortable_list {
    background: #fff;
    width: 445px;
    padding: 30px 20px;
    border-radius: 6px;
}

.sortable_list .item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin-bottom: 11px;
    border-radius: 10px;
    padding: 10px 13px;
}

.item .detail {
    display: flex;
    align-items: center;
}

.item .detail img {
    width: 43px;
    height: 43px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
}

.item .detail span {
    font-size: 1.13rem;
}

.item i {
    color: #474747;
    font-size: 1.13rem;
}

.item.dragging :where(.detail, i) {
    opacity: 0;
}